extends layout 

block content 
  div.container 
    h3(style='margin-bottom: 0;') About this site
    p(style='margin-top: 3px;') We discuss about pizzas here. You can talk about your opinion on any pizza, giving recipes (particularly special repices), show how much you love pizza, and anything else that is related to pizzas. 

    h3(style='margin-bottom: 0;') Premium Memebership 
    p(style='margin-top: 3px;') You can have premium membership here. Normal users can only see the message, the username, and the time. Premium members can see all these plus users profile photo and their full name. To become premium, please visit your profile page.
    p(style='margin-top: 3px;') There are some codes that you need to know to become a premium member. Four of them are:
    p(style='margin-top: 3px;') 1- The name of the pizza which is named after a queen.
    p(style='margin-top: 3px;') 2- The country of the first pizza.
    p(style='margin-top: 3px;') 3- The city of the first pizza.
    p(style='margin-top: 3px;') 4- The character of Friends series who loved pizza the most.
