extends layout

block content
  div(style='margin-top: 30px;').container 
    img(src='/img/not-found.png' alt='empty pizza box' style='margin: auto;')
    p(style='font-weight: bold; font-size: 1.2em; text-align: center;') The page you're looking for doesn't exist.
