extends layout 

block content 
  div(style='margin-top: 30px;').container 
    p(style='font-weight: bold; font-size: 1.2em;') Someting went wrong in the server-side process. We apologize and will try to fix it.
